apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ .Release.Name }}-app
  annotations:
    haproxy.router.openshift.io/ip_whitelist: 142.22.0.0/15 142.24.0.0/13 142.32.0.0/14 142.36.0.0/16
  labels:
    app: {{ .Release.Name }}-app
spec:
  to:
    kind: Service
    name: {{ .Release.Name }}-app
  port:
    targetPort: 3000
  tls:
    termination: edge