name: Build and Deploy

on:
  push:
    branches:
      - dev
      - test
      - main
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  PORTAL_IMAGE_NAME: ${{ github.repository }}-portal

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    
    outputs:
      image_tag: ${{ steps.branch_tag.outputs.image_tag }}
      tools_image_tag: ${{ steps.tools_tag.outputs.tools_image_tag }}
    
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch,pattern=*
      
      - name: Set branch tag for image
        id: branch_tag
        run: echo "image_tag=${GITHUB_REF##*/}" >> $GITHUB_OUTPUT
      
      - name: Export secrets based on environment
        run: |
          if [[ "${GITHUB_REF##*/}" == "main" ]]; then
            echo "APP_PORT=${{ secrets.APP_PORT_PROD }}" >> $GITHUB_ENV
            echo "REACT_APP_SSO_URL=${{ secrets.REACT_APP_SSO_URL_PROD }}" >> $GITHUB_ENV
            echo "REACT_APP_KILN_PREVIEW_URL=${{ secrets.REACT_APP_KILN_PREVIEW_URL_PROD }}" >> $GITHUB_ENV
            echo "REACT_APP_KILN_URL=${{ secrets.REACT_APP_KILN_URL_PROD }}" >> $GITHUB_ENV

          elif [[ "${GITHUB_REF##*/}" == "test" ]]; then
            echo "APP_PORT=${{ secrets.APP_PORT_TEST }}" >> $GITHUB_ENV
            echo "REACT_APP_SSO_URL=${{ secrets.REACT_APP_SSO_URL_TEST }}" >> $GITHUB_ENV
            echo "REACT_APP_KILN_PREVIEW_URL=${{ secrets.REACT_APP_KILN_PREVIEW_URL_TEST }}" >> $GITHUB_ENV
            echo "REACT_APP_KILN_URL=${{ secrets.REACT_APP_KILN_URL_TEST }}" >> $GITHUB_ENV

          else
            echo "APP_PORT=${{ secrets.APP_PORT_DEV }}" >> $GITHUB_ENV
            echo "REACT_APP_SSO_URL=${{ secrets.REACT_APP_SSO_URL_DEV }}" >> $GITHUB_ENV
            echo "REACT_APP_KILN_PREVIEW_URL=${{ secrets.REACT_APP_KILN_PREVIEW_URL_DEV }}" >> $GITHUB_ENV
            echo "REACT_APP_KILN_URL=${{ secrets.REACT_APP_KILN_URL_DEV }}" >> $GITHUB_ENV
          fi

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          no-cache: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.branch_tag.outputs.image_tag }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            APP_PORT=${{ env.APP_PORT }}
            REACT_APP_SSO_URL=${{ env.REACT_APP_SSO_URL }}
            REACT_APP_KILN_PREVIEW_URL=${{ env.REACT_APP_KILN_PREVIEW_URL }}
            REACT_APP_KILN_URL=${{ env.REACT_APP_KILN_URL }}
      
      - name: Set tools tag
        if: github.ref == 'refs/heads/dev'
        id: tools_tag
        run: echo "tools_image_tag=${GITHUB_REF##*/}-tools" >> $GITHUB_OUTPUT

      - name: Build and push Docker image (tools variant)
        if: github.ref == 'refs/heads/dev'
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          no-cache: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.tools_tag.outputs.tools_image_tag }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            APP_PORT=${{ env.APP_PORT }}
            # Use the TOOLS SSO value here as requested:
            REACT_APP_SSO_URL=${{ secrets.REACT_APP_SSO_URL_TOOLS }}
            REACT_APP_KILN_PREVIEW_URL=${{ secrets.REACT_APP_KILN_PREVIEW_URL_TOOLS }}
            REACT_APP_KILN_URL=${{ secrets.REACT_APP_KILN_URL_TOOLS }}

  deploy:
    needs: build_and_push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Install oc CLI
        uses: redhat-actions/oc-installer@v1

      - name: Authenticate with OpenShift 
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
          namespace: ${{ github.ref == 'refs/heads/main' && secrets.OPENSHIFT_PROD_NAMESPACE || (github.ref == 'refs/heads/dev' && secrets.OPENSHIFT_DEV_NAMESPACE) || secrets.OPENSHIFT_TEST_NAMESPACE }}
          openshift_token: ${{ github.ref == 'refs/heads/main' && secrets.OPENSHIFT_PROD_TOKEN || (github.ref == 'refs/heads/dev' && secrets.OPENSHIFT_DEV_TOKEN) || secrets.OPENSHIFT_TEST_TOKEN }}
          insecure_skip_tls_verify: true

      - name: Deploy with Helm
        run: |
          helm upgrade --install template-repository ./helm \
          --namespace ${{ github.ref == 'refs/heads/main' && secrets.OPENSHIFT_PROD_NAMESPACE || (github.ref == 'refs/heads/dev' && secrets.OPENSHIFT_DEV_NAMESPACE) || secrets.OPENSHIFT_TEST_NAMESPACE }} \
          --set app.image.repository=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} \
          --set app.image.tag=${{ needs.build_and_push.outputs.image_tag }} \
          --set postgresql.image.repository=postgres \
          --set postgresql.image.tag=12

      - name: Trigger OpenShift Rollout
        run: |
          oc rollout restart deployment/template-repository-app -n ${{ github.ref == 'refs/heads/main' && secrets.OPENSHIFT_PROD_NAMESPACE || (github.ref == 'refs/heads/dev' && secrets.OPENSHIFT_DEV_NAMESPACE) || secrets.OPENSHIFT_TEST_NAMESPACE }}

      # Deploy to Tools only if branch = dev
      - name: Authenticate with OpenShift (tools env)
        if: github.ref == 'refs/heads/dev'
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
          namespace: ${{ secrets.OPENSHIFT_TOOLS_NAMESPACE }}
          openshift_token: ${{ secrets.OPENSHIFT_TOOLS_TOKEN }}
          insecure_skip_tls_verify: true

      - name: Deploy with Helm (tools env)
        if: github.ref == 'refs/heads/dev'
        run: |
          helm upgrade --install template-repository ./helm \
            --namespace "${{ secrets.OPENSHIFT_TOOLS_NAMESPACE }}" \
            --set app.image.repository=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} \
            --set app.image.tag=${{ needs.build_and_push.outputs.tools_image_tag }} \
            --set postgresql.image.repository=postgres \
            --set postgresql.image.tag=12

      - name: Trigger OpenShift Rollout (tools env)
        if: github.ref == 'refs/heads/dev'
        run: |
          oc rollout restart deployment/template-repository-app \
            -n "${{ secrets.OPENSHIFT_TOOLS_NAMESPACE }}"
            
  build_and_push_portal:
    runs-on: ubuntu-latest
    
    outputs:
      image_tag: ${{ steps.branch_tag.outputs.image_tag }}
    
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.PORTAL_IMAGE_NAME }}
          tags: |
            type=ref,event=branch,pattern=*
      
      - name: Set branch tag for image
        id: branch_tag
        run: echo "image_tag=${GITHUB_REF##*/}" >> $GITHUB_OUTPUT
      
      - name: Export secrets based on environment
        run: |
          if [[ "${GITHUB_REF##*/}" == "main" ]]; then
            echo "APP_PORT=${{ secrets.APP_PORT_PROD }}" >> $GITHUB_ENV
            echo "REACT_APP_SSO_PORTAL_URL=${{ secrets.REACT_APP_SSO_URL_PORTAL_PROD }}" >> $GITHUB_ENV
            echo "REACT_APP_KILN_PREVIEW_PORTAL_URL=${{ secrets.REACT_APP_KILN_PREVIEW_URL_PORTAL_PROD }}" >> $GITHUB_ENV
            echo "REACT_APP_KILN_PORTAL_URL=${{ secrets.REACT_APP_KILN_URL_PORTAL_PROD }}" >> $GITHUB_ENV

          elif [[ "${GITHUB_REF##*/}" == "test" ]]; then
            echo "APP_PORT=${{ secrets.APP_PORT_TEST }}" >> $GITHUB_ENV
            echo "REACT_APP_SSO_PORTAL_URL=${{ secrets.REACT_APP_SSO_URL_PORTAL_TEST }}" >> $GITHUB_ENV
            echo "REACT_APP_KILN_PREVIEW_PORTAL_URL=${{ secrets.REACT_APP_KILN_PREVIEW_URL_PORTAL_TEST }}" >> $GITHUB_ENV
            echo "REACT_APP_KILN_PORTAL_URL=${{ secrets.REACT_APP_KILN_URL_PORTAL_TEST }}" >> $GITHUB_ENV

          else
            echo "APP_PORT=${{ secrets.APP_PORT_DEV }}" >> $GITHUB_ENV
            echo "REACT_APP_SSO_PORTAL_URL=${{ secrets.REACT_APP_SSO_URL_PORTAL_DEV }}" >> $GITHUB_ENV
            echo "REACT_APP_KILN_PREVIEW_PORTAL_URL=${{ secrets.REACT_APP_KILN_PREVIEW_URL_PORTAL_DEV }}" >> $GITHUB_ENV
            echo "REACT_APP_KILN_PORTAL_URL=${{ secrets.REACT_APP_KILN_URL_PORTAL_DEV }}" >> $GITHUB_ENV
          fi

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          no-cache: true
          tags: ${{ env.REGISTRY }}/${{ env.PORTAL_IMAGE_NAME }}:${{ steps.branch_tag.outputs.image_tag }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            APP_PORT=${{ env.APP_PORT }}
            REACT_APP_SSO_URL=${{ env.REACT_APP_SSO_PORTAL_URL }}
            REACT_APP_KILN_PREVIEW_URL=${{ env.REACT_APP_KILN_PREVIEW_PORTAL_URL }}
            REACT_APP_KILN_URL=${{ env.REACT_APP_KILN_PORTAL_URL }}

  deploy_to_portal:
    needs: build_and_push_portal
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Install oc CLI
        uses: redhat-actions/oc-installer@v1

      - name: Authenticate with OpenShift 
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
          namespace: ${{ github.ref == 'refs/heads/main' && secrets.OPENSHIFT_PROD_PORTAL_NAMESPACE || (github.ref == 'refs/heads/dev' && secrets.OPENSHIFT_DEV_PORTAL_NAMESPACE) || secrets.OPENSHIFT_TEST_PORTAL_NAMESPACE }}
          openshift_token: ${{ github.ref == 'refs/heads/main' && secrets.OPENSHIFT_PROD_PORTAL_TOKEN || (github.ref == 'refs/heads/dev' && secrets.OPENSHIFT_DEV_PORTAL_TOKEN) || secrets.OPENSHIFT_TEST_PORTAL_TOKEN }}
          insecure_skip_tls_verify: true

      - name: Deploy with Helm
        run: |
          helm upgrade --install template-repository ./helm \
          --namespace ${{ github.ref == 'refs/heads/main' && secrets.OPENSHIFT_PROD_PORTAL_NAMESPACE || (github.ref == 'refs/heads/dev' && secrets.OPENSHIFT_DEV_PORTAL_NAMESPACE) || secrets.OPENSHIFT_TEST_PORTAL_NAMESPACE }} \
          --set app.image.repository=${{ env.REGISTRY }}/${{ env.PORTAL_IMAGE_NAME }} \
          --set app.image.tag=${{ needs.build_and_push_portal.outputs.image_tag }} \
          --set postgresql.image.repository=postgres \
          --set postgresql.image.tag=12

      - name: Trigger OpenShift Rollout
        run: |
          oc rollout restart deployment/template-repository-app -n ${{ github.ref == 'refs/heads/main' && secrets.OPENSHIFT_PROD_PORTAL_NAMESPACE || (github.ref == 'refs/heads/dev' && secrets.OPENSHIFT_DEV_PORTAL_NAMESPACE) || secrets.OPENSHIFT_TEST_PORTAL_NAMESPACE }}
